body {
  background-color: rgb(253, 251, 251);
  text-align: center;
  align-items: center;
  justify-content: center;
}

#cabecalho {
  top: 0;
}

#titulo {
  text-align: center;
  background-color: green;
  color: white;
  margin: 0;
  padding: 10px;
}

#artigo {
  font-size: 15px;
  display: inline-block;
  margin: 1px;
  padding: 10px;
  border: 20px;
}

#licoes_a_aprender {
  display: inline-block;
}

#licoes_aprendidas {
  display: inline-block;
}

#meusaprendizados {
  margin: 1px;
  padding: 10px;
  border: 20px;
}

#barralateral {
  display: inline-block;
  margin: 1px;
  padding: 10px;
  border: 20px;
  font-size: 15px;
  color: green;
  width: 800px;
  height: 10px;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#minha_foto {
  margin: 1px;
  padding: 1px;
  border-radius: 200px;
  background-color: green;
}

#meuportfolio {
  margin: 1px;
  padding: 10px;
  border: 20px;
}

#github {
  height: 50px;
  width: 50px;
}

#linkedinfoto {
  height: 50px;
  width: 50px;
}

#rodape {
  margin: 20px;
  padding: 0;
  border: 0;
  font-size: 15px;
  text-align: center;
}

#table {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secao {
  display: block;
}
